@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background: #201b2c;
    color: #f0ffffde;
}

body * {
    box-sizing: border-box;
}

.main-avaliacao {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-filme {
    width: 300px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.card-filme h2 {
    color: #00ff88;
    font-weight: 800;
}

.btn-like,
.btn-dislike {
    width: 150px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-like:hover,
.btn-dislike:hover {
    background: #00cc77;
}

.textarea-comentario {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    color: #f0ffffde;
    resize: none;
    transition: background 0.3s, box-shadow 0.3s;
}

.textarea-comentario::placeholder {
    color: #999;
}

.textarea-comentario:focus {
    background: #514869;
    box-shadow: 0px 10px 40px #00000056;
}
